<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Angular Pagination</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <!-- for bootstrap js -->
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.2.9/angular.min.js"></script>
    <!-- example -->
    <script src="../../angular-pagination.js"></script>
    <script src="scripts.js"></script>
</head>
<body ng-controller="AppController">
    <div class="container">
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <a class="navbar-brand" href="https://github.com/nervgh/angular-pagination">Angular Pagination</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Demos<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/examples/base">Base</a></li>
                            <li class="active"><a href="#">Directive-1</a></li>
                            <li><a href="/examples/directive-2">Directive-2</a></li>
                        </ul>
                    </li>
                    <li><a href="https://github.com/nervgh/angular-pagination">View on Github</a></li>
                    <li><a href="https://raw.github.com/nervgh/angular-pagination/master/angular-pagination.min.js">Download</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <h1>Pagination</h1>
                <hr/>
                <div>
                    <code>itemsPerPage</code>: <input type="number" ng-model="pagination.itemsPerPage"/><br/>
                    <code>itemsCount</code>: <input type="number" ng-model="pagination.itemsCount"/><br/>
                    <code>maxNumbers</code>: <input type="number" ng-model="pagination.maxNumbers"/><br/>
                    <code>startPage</code>: <input type="number" ng-model="pagination.startPage"/><br/>
                </div>
                <br/>
                <pre>Page: <span ng-bind="pagination.currentPage"></span> / <span ng-bind="pagination.endPage"></span></pre>
                <div ng-pagination="pagination"></div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</body>
</html>